.slider {
    margin: 0 20px;
}

.slider_right {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}

.slider_left {
    display: flex;
    justify-content: center;
    height: 90%;
    padding-right: 0;
}

.slider_left img {
    object-fit: contain;
    height: 100%;
}

.slider_right img {
    width: 83%;
    object-fit: contain;
}